body, h1, h2, h3, h4, h5, h6, p, ul { margin: 0; }
input, button, ul { padding: 0; }
input, button { border: none; font: inherit; }
ul { list-style: none; }

html {
	-webkit-tap-highlight-color:transparent;
}

body {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-rendering:optimizeLegibility;
}

html {
	--body-B: rgba(0, 0, 0, 1);
	--body-C: rgba(0, 0, 0, 1);
	--app-logo-B: rgba(0, 0, 0, 1);
	--app-logo-h1-C: rgba(0, 0, 0, 1);
	--app-logo-h2-C: rgba(0, 0, 0, 1);
	--user-header-B: rgba(0, 0, 0, 1);
	--user-header-C: rgba(0, 0, 0, 1);
	--user-list-B: rgba(0, 0, 0, 1);
	--user-list-C: rgba(0, 0, 0, 1);
	--search-form-B: rgba(0, 0, 0, 1);
	--search-form-C: rgba(0, 0, 0, 1);
	--form-input-B: rgba(0, 0, 0, 1);
	--form-input-C: rgba(0, 0, 0, 1);
	--input-placeholder-B: rgba(0, 0, 0, 1);
	--input-placeholder-C: rgba(0, 0, 0, 1);
	--form-button-B: rgba(0, 0, 0, 1);
	--form-button-C: rgba(0, 0, 0, 1);
	--button-icon-B: rgba(0, 0, 0, 1);
	--button-icon-C: rgba(0, 0, 0, 1);
	--button-border-L: rgba(0, 0, 0, 1);
	--form-border: rgba(0, 0, 0, 1);
	--search-nav-B: rgba(0, 0, 0, 1);
	--search-nav-C: rgba(0, 0, 0, 1);
	--nav-label-B: rgba(0, 0, 0, 1);
	--nav-label-C: rgba(0, 0, 0, 1);
	--label-border: rgba(0, 0, 0, 1);
	--songs-label-B: rgba(0, 0, 0, 1);
	--songs-label-C: rgba(0, 0, 0, 1);
	--artists-label-B: rgba(0, 0, 0, 1);
	--artists-label-C: rgba(0, 0, 0, 1);
	--albums-label-B: rgba(0, 0, 0, 1);
	--albums-label-C: rgba(0, 0, 0, 1);
	--results-list-B: rgba(0, 0, 0, 1);
	--results-list-C: rgba(0, 0, 0, 1);
	--results-list-border-L: rgba(0, 0, 0, 1);
	--songs-list-B: rgba(0, 0, 0, 1);
	--songs-list-C: rgba(0, 0, 0, 1);
	--artists-list-B: rgba(0, 0, 0, 1);
	--artists-list-C: rgba(0, 0, 0, 1);
	--albums-list-B: rgba(0, 0, 0, 1);
	--albums-list-C: rgba(0, 0, 0, 1);
	--result-item-B: rgba(0, 0, 0, 1);
	--result-item-C: rgba(0, 0, 0, 1);
	--result-item-border: rgba(0, 0, 0, 1);
	--no-results-B: rgba(0, 0, 0, 1);
	--no-results-C: rgba(0, 0, 0, 1);
	--item-image-B: rgba(0, 0, 0, 1);
	--item-image-C: rgba(0, 0, 0, 1);
	--item-info-B: rgba(0, 0, 0, 1);
	--item-info-C: rgba(0, 0, 0, 1);
	--info-text-B: rgba(0, 0, 0, 1);
	--info-text-C: rgba(0, 0, 0, 1);
	--info-top-B: rgba(0, 0, 0, 1);
	--info-top-C: rgba(0, 0, 0, 1);
	--info-mid-B: rgba(0, 0, 0, 1);
	--info-mid-C: rgba(0, 0, 0, 1);
	--info-bot-B: rgba(0, 0, 0, 1);
	--info-bot-C: rgba(0, 0, 0, 1);
	--info-bot-span-B: rgba(0, 0, 0, 1);
	--info-bot-span-C: rgba(0, 0, 0, 1);
	--checked-label-B: rgba(0, 0, 0, 1);
	--checked-label-C: rgba(0, 0, 0, 1);
	--checked-list-B: rgba(0, 0, 0, 1);
	--checked-list-C: rgba(0, 0, 0, 1);
}

html {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 1.25vw;
	line-height: normal;
	font-family: 'Raleway';
}

html, body {
	width: 100%;
	height: 100%;	
}

body {
	display: none;
	grid: 'app-logo search-form' 10% 'user-header search-nav' 10% 'user-list results-list' 80% / 50% 50%;
	background: var(--body-B);
	color: var(--body-C);
}

	/* App Logo */
	header#app-logo {
		grid-area: app-logo;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background: var(--app-logo-B);
	}
	header#app-logo > h1 {
		font-size: 4rem;
		font-weight: 900;
		color: var(--app-logo-h1-C);
	}
	header#app-logo > h2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.4rem;
		font-weight: 300;
		color: var(--app-logo-h2-C);
	}

		/* User Header */
		h3#user-header {
			grid-area: user-header;
			margin: auto;
			font-size: 3rem;
			font-weight: 100;
			background: var(--user-header-B);
			color: var(--user-header-C);
		}

			/* User List */
			ul#user-list {
				grid-area: user-list;
				list-style: inside decimal-leading-zero;
				padding: 0 1rem;
				box-sizing: border-box;
				overflow: auto;
				z-index: 1;
				font-size: 2rem;
				font-weight: 900;
				background: var(--user-list-B);
				color: var(--user-list-C);
			}
			ul#user-list > li {
				line-height: 1.5;
				cursor: pointer;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

	/* Search Form */
	form#search-form {
		grid-area: search-form;
		border-bottom: solid 1px var(--form-border-B);
		box-sizing: border-box;
		background: var(--search-form-B);
		color: var(--search-form-C);
	}
	form#search-form > input {
		display: block;
		width: 80%;
		height: 100%;
		float: left;
		font-size: 3rem;
		font-weight: 900;
		padding: 1rem;
		box-sizing: border-box;
		background: var(--form-input-B);
		color: var(--form-input-C);
	}
	input[type="text"]::placeholder {
		text-align: center;
		background: var(--input-placeholder-B);
		color: var(--input-placeholder-C);
}
	form#search-form > button {
		width: 20%;
		height: 100%;
		border-left: solid 1px var(--button-border-L);
		box-sizing: border-box;
		background: var(--form-button-B);
		color: var(--form-button-C);
	}
	form#search-form > button > svg {
		display: block;
		height: 100%;
		margin: 0 auto;
		background: var(--button-icon-B);
		color: var(--button-icon-C);
	}

		/* Search Nav */
		nav#search-nav {
			grid-area: search-nav;
			display: flex;
			align-items: flex-end;
			font-size: 1.7rem;
			font-weight: 700;
			background: var(--search-nav-B);
			color: var(--search-nav-C);
		}
		nav#search-nav > label {
			flex: 1;
			height: calc(100% - 1rem);
			display: flex;
			justify-content: center;
			align-items: center;
			border: solid 1px var(--label-border);
			box-sizing: border-box;
			cursor:pointer;
			background: var(--nav-label-B);
			color: var(--nav-label-C);
		}
		nav#search-nav > label[for="search-songs"] { background: var(--songs-label-B); color: var(--songs-label-C); }
		nav#search-nav > label[for="search-artists"] { background: var(--artists-label-B); color: var(--artists-label-C); }
		nav#search-nav > label[for="search-albums"] { background: var(--albums-label-B); color: var(--albums-label-C); }

			/* Results Lists */
			ul.results-list {
				grid-area: results-list;
				padding: 0 1rem;
				border-left: solid 1px var(--results-list-border-L);
				box-sizing: border-box;
				overflow: auto;
				z-index: 1;
				background: var(--results-list-B);
				color: var(--results-list-C); 
			}
			ul#songs-list { background: var(--songs-list-B); color: var(--songs-list-C); }
			ul#artists-list { background: var(--artists-list-B); color: var(--artists-list-C); }
			ul#albums-list { background: var(--albums-list-B); color: var(--albums-list-C); }
			li.result-item {
				height: calc(25% - 1.25rem);
				margin: 1rem 0;
				border: solid 1px var(--result-item-border);
				box-sizing: border-box;
				display: flex;
				flex-flow: row nowrap;
				background: var(--result-item-B);
				color: var(--result-item-C);
			}
			li.no-results {
				margin-top: 2rem;
				background: #fff;
				text-align: center;
				font-size: 2rem;
				font-weight: 900;
				background: var(--no-results-B);
				color: var(--no-results-C);
			} 
			li.result-item > img {
				display: block;
				height: 100%;
				background: var(--item-image-B);
				color: var(--item-image-C);
			}
			li.result-item > div {
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-between;
				padding: 1rem;
				box-sizing: border-box;
				white-space: nowrap;
				overflow: hidden;
				background: var(--item-info-B);
				color: var(--item-info-C);
			}
			.result-info {
				overflow: hidden;
				text-overflow: ellipsis;
				background: var(--info-text-B);
				color: var(--info-text-C);
			}
			h5.result-artist {
				text-transform: uppercase;
				font-size: 1.5rem;
				font-weight: 500;
				background: var(--info-top-B);
				color: var(--info-top-C);
			}
			h4.result-title {
				font-size: 2rem;
				font-weight: 900;
				background: var(--info-mid-B);
				color: var(--info-mid-C);
			}
			h6.result-album {
				font-size: 1rem;
				font-weight: 300;
				background: var(--info-bot-B);
				color: var(--info-bot-C);
			}
			h6.result-album > span {
				text-transform: uppercase;
				font-weight: 700;
				background: var(--info-bot-span-B);
				color: var(--info-bot-span-C);
			}

	/* Results List Behaviour */
	input[type="radio"] { display: none; }

	input#search-songs:checked ~ nav > label[for="search-songs"],
	input#search-artists:checked ~ nav > label[for="search-artists"],
	input#search-albums:checked ~ nav > label[for="search-albums"] {
		border-bottom: none;
		background: var(--checked-label-B);
		color: var(--checked-label-C);
	}

	input#search-songs:checked ~ ul#songs-list,
	input#search-artists:checked ~ ul#artists-list,
	input#search-albums:checked ~ ul#albums-list {
		z-index: 2;
		background: var(--checked-list-B);
		color: var(--checked-list-C);
	}
