body, h1, h2, h3, ul { margin: 0; } ul { list-style: none; padding: 0; }

body {
	font: 16px/1 sans-serif;
}

.center {
	text-align: center;
}

	section.column-half-width {
		width: 50%;
		float: left;
	}

		header#search-header {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
		}

			li#track-results { background-color: #f44; }
			li#artist-results { background-color: #4f4; }
			li#album-results { background-color: #44f; }
			li#playlist-results { background-color: #ff4; }

					ul#search-content > li > ul > li {
						width: 100%; height: 6.472em;
						display: flex;
						flex-flow: row nowrap;
						align-items: center;
					}
					ul#search-content > li > ul > li:nth-child(odd) { background-color: rgba(255, 255, 255, .1); }
					ul#search-content > li > ul > li:nth-child(even) { background-color: rgba(0, 0, 0, .1); }

						ul#search-content > li > ul > li > img {
							padding-left: 1em;
							height: 90%;
						}
						ul#search-content > li > ul > li > p {
							padding-left: 1em;
							width: 61.8%;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-size: 1.2em;
						}
